<?xml version="1.0" encoding="UTF-8" standalone="no"?><widget>
<cpname>DAMGr04 Congreso</cpname>
<cplogo> </cplogo>
<cpauthjs> </cpauthjs>
<ThumbIcon>icon/ico1.jpg</ThumbIcon>
<BigThumbIcon>icon/ico2.jpg</BigThumbIcon>
<ListIcon>icon/ico3.jpg</ListIcon>
<BigListIcon>icon/ico4.jpg</BigListIcon>
<category>Politica</category>
<autoUpdate>n</autoUpdate>
<ver>0.101</ver>
<mgrver> </mgrver>
<fullwidget>y</fullwidget>
<type>user</type>
<srcctl>y</srcctl>
<ticker>n</ticker>
<childlock>n</childlock>
<videomute>n</videomute>
<dcont>y</dcont>
<widgetname>DAM04 Congreso</widgetname>
<description>Es mi primera aplicacion,(era mi primerito dia, yay)</description>
<width>1280</width>
<height>720</height>
<author> <name>Alvaro Navarro, Santi Navarro, Imanol Torres, Emilio Aparicio</name>
<email>alvarzenit@gmail.com</email>
<link> </link>
<organization>UPV</organization>
</author>
</widget>