#SceneScene3AF {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-image : url('../images/votacion.jpg');
	background-size: cover;
	font-family: 'Open Sans', sans-serif;;
}
#SceneScene2 h1 {
	font-family: 'Roboto Slab', sans-serif;
	color: #FFF;
}
