#SceneScene3AF3 {
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-color : #000;
	font-family: 'Open Sans', sans-serif;
}

#SceneScene3AF3:after {
	content: '';
	position : absolute;
	left : 0px;
	top : 0px;
	width : 1280px;
	height : 720px;
	background-image : url('../images/congreso.jpg');
	background-size: cover;
  opacity: 0.25;
}
#SceneScene3AF3 h5 {
	font-family: 'Roboto Slab', sans-serif;
	color: #FFF;
}
#SceneScene3AF3 div.col_1 {
		width : 340px;
		height : 600px;
		position : absolute;
		left : 100px;
		top : 100px;	
}
#SceneScene3AF3 div.col_2 {
		width : 320px;
		height : 600px;
		position : absolute;
		left : 500px;
		top : 100px;	
}
#SceneScene3AF3 div.col_3 {
		width : 320px;
		height : 600px;
		position : absolute;
		left : 900px;
		top : 100px;	
}
#SceneScene3AF3 h1 {
	font-family: 'Roboto Slab', sans-serif;
	text-transform:uppercase;
	font-weight: bold;
	text-shadow: 0px 0px 4px rgba(150, 150, 150, 1);
	color: #FFF;
	margin: 0 auto;
	margin-left:510px;
	width: 90%;
	padding-top: 40px;
	padding-bottom: 40px;
}
